###### Imports and Settings

In [1]:
import pandas as pd
import numpy as np
import requests
from collections import deque
from functools import reduce
import matplotlib.pyplot as plt
#pd.options.display.float_format = '{:,.0f}'.format
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)
pd.options.mode.chained_assignment = None  # default='warn'

In [2]:
def percentchange(x, y):
    return (x-y)*100/y
def realchange(x, y):
    return x-y

# Historical

In [3]:
data = pd.read_csv('../../Data Downloads/HistoricalPopulation.csv')
data = data.set_index(['NAME', 'GEO_ID'])
data.columns = pd.MultiIndex.from_product([['Population'], data.columns, ['None']])
data.head()

                                              Population                                                                                           \
                                                    1800 1810 1820 1830 1840 1850 1860 1870 1880 1890 1900 1910 1920 1930  1940  1950  1960  1970
                                                    None None None None None None None None None None None None None None  None  None  None  None
NAME                         GEO_ID
Adams city, Tennessee        1600000US4700200          0    0    0    0    0    0    0    0    0    0    0  542  672    0     0     0     0   458
Ashland City town, Tennessee 1600000US4702180          0    0    0    0    0    0    0    0    0    0    0  641  649  712   957  1024  1400  2027
Belle Meade city, Tennessee  1600000US4704620          0    0    0    0    0    0    0    0    0    0    0    0    0    0  2061  2831  3082     0
Berry Hill city, Tennessee   1600000US4705140          0    0    0    0    0    0    0    0    0    0    0    0    0    0     0  1248  1551     0
Brentwood city, Tennessee    1600000US4708280          0    0    0    0    0    0    0    0    0    0    0    0    0    0     0     0     0     0


                                               1980   1990   2000   2010   2020
                                               None   None   None   None   None
NAME                         GEO_ID
Adams city, Tennessee        1600000US4700200   600    587    566    633    624
Ashland City town, Tennessee 1600000US4702180  2329   2552   3641   4541   5193
Belle Meade city, Tennessee  1600000US4704620  3182   2839   2943   2912   2901
Berry Hill city, Tennessee   1600000US4705140  1113    802    674    537   2112
Brentwood city, Tennessee    1600000US4708280  9431  16392  23445  37060  45373

In [4]:
data[('Population % Change', 'None','1800-1810')] = percentchange(data[('Population','1810','None')], data[('Population','1800','None')])
data[('Population % Change', 'None','1810-1820')] = percentchange(data[('Population','1820','None')], data[('Population','1810','None')])
data[('Population % Change', 'None','1820-1830')] = percentchange(data[('Population','1830','None')], data[('Population','1820','None')])
data[('Population % Change', 'None','1830-1840')] = percentchange(data[('Population','1840','None')], data[('Population','1830','None')])
data[('Population % Change', 'None','1840-1850')] = percentchange(data[('Population','1850','None')], data[('Population','1840','None')])
data[('Population % Change', 'None','1850-1860')] = percentchange(data[('Population','1860','None')], data[('Population','1850','None')])
data[('Population % Change', 'None','1860-1870')] = percentchange(data[('Population','1870','None')], data[('Population','1860','None')])
data[('Population % Change', 'None','1870-1880')] = percentchange(data[('Population','1880','None')], data[('Population','1870','None')])
data[('Population % Change', 'None','1880-1890')] = percentchange(data[('Population','1890','None')], data[('Population','1880','None')])
data[('Population % Change', 'None','1890-1900')] = percentchange(data[('Population','1900','None')], data[('Population','1890','None')])
data[('Population % Change', 'None','1900-1910')] = percentchange(data[('Population','1910','None')], data[('Population','1900','None')])
data[('Population % Change', 'None','1910-1920')] = percentchange(data[('Population','1920','None')], data[('Population','1910','None')])
data[('Population % Change', 'None','1920-1930')] = percentchange(data[('Population','1930','None')], data[('Population','1920','None')])
data[('Population % Change', 'None','1930-1940')] = percentchange(data[('Population','1940','None')], data[('Population','1930','None')])
data[('Population % Change', 'None','1940-1950')] = percentchange(data[('Population','1950','None')], data[('Population','1940','None')])
data[('Population % Change', 'None','1950-1960')] = percentchange(data[('Population','1960','None')], data[('Population','1950','None')])
data[('Population % Change', 'None','1960-1970')] = percentchange(data[('Population','1970','None')], data[('Population','1960','None')])
data[('Population % Change', 'None','1970-1980')] = percentchange(data[('Population','1980','None')], data[('Population','1970','None')])
data[('Population % Change', 'None','1980-1990')] = percentchange(data[('Population','1990','None')], data[('Population','1980','None')])
data[('Population % Change', 'None','1990-2000')] = percentchange(data[('Population','2000','None')], data[('Population','1990','None')])
data[('Population % Change', 'None','2000-2010')] = percentchange(data[('Population','2010','None')], data[('Population','2000','None')])
data[('Population % Change', 'None','2010-2020')] = percentchange(data[('Population','2020','None')], data[('Population','2010','None')])

data[('Population Change', 'None','1800-1810')] = realchange(data[('Population','1810','None')], data[('Population','1800','None')])
data[('Population Change', 'None','1810-1820')] = realchange(data[('Population','1820','None')], data[('Population','1810','None')])
data[('Population Change', 'None','1820-1830')] = realchange(data[('Population','1830','None')], data[('Population','1820','None')])
data[('Population Change', 'None','1830-1840')] = realchange(data[('Population','1840','None')], data[('Population','1830','None')])
data[('Population Change', 'None','1840-1850')] = realchange(data[('Population','1850','None')], data[('Population','1840','None')])
data[('Population Change', 'None','1850-1860')] = realchange(data[('Population','1860','None')], data[('Population','1850','None')])
data[('Population Change', 'None','1860-1870')] = realchange(data[('Population','1870','None')], data[('Population','1860','None')])
data[('Population Change', 'None','1870-1880')] = realchange(data[('Population','1880','None')], data[('Population','1870','None')])
data[('Population Change', 'None','1880-1890')] = realchange(data[('Population','1890','None')], data[('Population','1880','None')])
data[('Population Change', 'None','1890-1900')] = realchange(data[('Population','1900','None')], data[('Population','1890','None')])
data[('Population Change', 'None','1900-1910')] = realchange(data[('Population','1910','None')], data[('Population','1900','None')])
data[('Population Change', 'None','1910-1920')] = realchange(data[('Population','1920','None')], data[('Population','1910','None')])
data[('Population Change', 'None','1920-1930')] = realchange(data[('Population','1930','None')], data[('Population','1920','None')])
data[('Population Change', 'None','1930-1940')] = realchange(data[('Population','1940','None')], data[('Population','1930','None')])
data[('Population Change', 'None','1940-1950')] = realchange(data[('Population','1950','None')], data[('Population','1940','None')])
data[('Population Change', 'None','1950-1960')] = realchange(data[('Population','1960','None')], data[('Population','1950','None')])
data[('Population Change', 'None','1960-1970')] = realchange(data[('Population','1970','None')], data[('Population','1960','None')])
data[('Population Change', 'None','1970-1980')] = realchange(data[('Population','1980','None')], data[('Population','1970','None')])
data[('Population Change', 'None','1980-1990')] = realchange(data[('Population','1990','None')], data[('Population','1980','None')])
data[('Population Change', 'None','1990-2000')] = realchange(data[('Population','2000','None')], data[('Population','1990','None')])
data[('Population Change', 'None','2000-2010')] = realchange(data[('Population','2010','None')], data[('Population','2000','None')])
data[('Population Change', 'None','2010-2020')] = realchange(data[('Population','2020','None')], data[('Population','2010','None')])

In [5]:
data.tail()

                                 Population                                                                                                          \
                                       1800  1810   1820   1830   1840   1850   1860   1870   1880   1890   1900   1910   1920   1930   1940   1950
                                       None  None   None   None   None   None   None   None   None   None   None   None   None   None   None   None
NAME                      GEO_ID
Dickson Unincorporated    NaN             0  4516   5190   7265   7074   8404   9982   9340  12460  13645  17272  17450  16092  14429  14852  14140
Humphreys Incorporated    NaN             0     0      0      0      0      0      0      0      0      0    786   1608   1689   1772   1935   2602
Humphreys Unincorporated  NaN             0  1511   4067   6187   5195   6422   9096   9326  11379  11720  12612  12300  11793  10267  10486   8428
Montgomery Incorporated   NaN             0     0      0      0      0      0      0      0      0      0   9431   8548   8110   9242  11831  16246
Montgomery Unincorporated NaN          2899  8021  12219  14349  16927  21045  20895  24747  28481  29697  26586  25124  24155  21640  21515  27940

                                                                                     Population % Change                                    \
                                   1960   1970   1980   1990    2000    2010    2020                None
                                   None   None   None   None    None    None    None           1800-1810   1810-1820  1820-1830  1830-1840
NAME                      GEO_ID
Dickson Unincorporated    NaN     12053  14514  18907  21821   25756   28646   30622                 inf   14.924712  39.980732  -2.629043
Humphreys Incorporated    NaN      4429   4764   7581   7010    7635    7806    7744                 NaN         NaN        NaN        NaN
Humphreys Unincorporated  NaN      7082   8796   8376   8785   10294   10732   11246                 inf  169.159497  52.126875 -16.033619
Montgomery Incorporated   NaN     22021  31719  54777  75494  103455  132929  166722                 NaN         NaN        NaN        NaN
Montgomery Unincorporated NaN     33624  31002  28565  25004   31313   39402   53347          176.681614   52.337614  17.431868  17.966409

                                                                                                                                               \

                                  1840-1850  1850-1860  1860-1870  1870-1880 1880-1890  1890-1900   1900-1910 1910-1920  1920-1930  1930-1940
NAME                      GEO_ID
Dickson Unincorporated    NaN     18.801244  18.776773  -6.431577  33.404711  9.510433  26.581165    1.030570 -7.782235 -10.334328   2.931596
Humphreys Incorporated    NaN           NaN        NaN        NaN        NaN       NaN        inf  104.580153  5.037313   4.914150   9.198646
Humphreys Unincorporated  NaN     23.618864  41.638119   2.528584  22.013725  2.996748   7.610922   -2.473834 -4.121951 -12.939880   2.133048
Montgomery Incorporated   NaN           NaN        NaN        NaN        NaN       NaN        inf   -9.362740 -5.124006  13.958076  28.013417
Montgomery Unincorporated NaN     24.327997  -0.712758  18.435032  15.088698  4.269513 -10.475806   -5.499135 -3.856870 -10.411923  -0.577634

                                                                                                                         Population Change  \
                                                                                                                                      None
                                  1940-1950  1950-1960  1960-1970  1970-1980  1980-1990  1990-2000  2000-2010  2010-2020         1800-1810
NAME                      GEO_ID
Dickson Unincorporated    NaN     -4.793967 -14.759547  20.418153  30.267328  15.412281  18.033087  11.220686   6.897996              4516
Humphreys Incorporated    NaN     34.470284  70.215219   7.563784  59.130982  -7.531988   8.915835   2.239686  -0.794261                 0
Humphreys Unincorporated  NaN    -19.626168 -15.970574  24.202203  -4.774898   4.882999  17.177006   4.254906   4.789415              1511
Montgomery Incorporated   NaN     37.317217  35.547212  44.039780  72.694599  37.820618  37.037380  28.489682  25.421842                 0
Montgomery Unincorporated NaN     29.862886  20.343593  -7.798001  -7.860783 -12.466305  25.231963  25.832721  35.391604              5122

                                                                                                                                                \

                                 1810-1820 1820-1830 1830-1840 1840-1850 1850-1860 1860-1870 1870-1880 1880-1890 1890-1900 1900-1910 1910-1920
NAME                      GEO_ID
Dickson Unincorporated    NaN          674      2075      -191      1330      1578      -642      3120      1185      3627       178     -1358
Humphreys Incorporated    NaN            0         0         0         0         0         0         0         0       786       822        81
Humphreys Unincorporated  NaN         2556      2120      -992      1227      2674       230      2053       341       892      -312      -507
Montgomery Incorporated   NaN            0         0         0         0         0         0         0         0      9431      -883      -438
Montgomery Unincorporated NaN         4198      2130      2578      4118      -150      3852      3734      1216     -3111     -1462      -969



                                 1920-1930 1930-1940 1940-1950 1950-1960 1960-1970 1970-1980 1980-1990 1990-2000 2000-2010 2010-2020
NAME                      GEO_ID
Dickson Unincorporated    NaN        -1663       423      -712     -2087      2461      4393      2914      3935      2890      1976
Humphreys Incorporated    NaN           83       163       667      1827       335      2817      -571       625       171       -62
Humphreys Unincorporated  NaN        -1526       219     -2058     -1346      1714      -420       409      1509       438       514
Montgomery Incorporated   NaN         1132      2589      4415      5775      9698     23058     20717     27961     29474     33793
Montgomery Unincorporated NaN        -2515      -125      6425      5684     -2622     -2437     -3561      6309      8089     13945

In [6]:
# drop stuff after 1990/1990-2000 growth as it would be the decennial census estimate and it would be redundant/confusing (already in main dataset)
data = data.drop(columns = [('Population','2000','None'), ('Population','2010','None'), ('Population','2020','None'), 
                 ('Population Change', 'None','2000-2010'), ('Population Change', 'None','2010-2020')])

In [7]:
data = data.stack([1, 1])
data = data.reset_index(drop = False)
data = data.rename(columns = {'level_2':'Year', 'level_3':'Time Frame'})
historicaltidy = data

In [8]:
#"Table format"
historicalt = pd.read_csv('../../Data Downloads/HistoricalPopulation.csv')
historicalt = historicalt.set_index(['NAME', 'GEO_ID'])
historicalt = historicalt.add_prefix('Population ')

# Projections

In [9]:
#households
data = pd.read_csv('../../Data Downloads/projections_households.csv')
data = data.set_index(['NAME', 'GEO_ID'])
data.columns = pd.MultiIndex.from_product([['Households Projected'], data.columns, ['None']])
#data.head()

In [10]:
data[('Households Projected % Change', 'None','2017-2020')] = percentchange(data[('Households Projected','2020','None')], data[('Households Projected','2017','None')])
data[('Households Projected % Change', 'None','2020-2025')] = percentchange(data[('Households Projected','2025','None')], data[('Households Projected','2020','None')])
data[('Households Projected % Change', 'None','2020-2035')] = percentchange(data[('Households Projected','2035','None')], data[('Households Projected','2020','None')])
data[('Households Projected % Change', 'None','2020-2045')] = percentchange(data[('Households Projected','2045','None')], data[('Households Projected','2020','None')])
data[('Households Projected % Change', 'None','2025-2035')] = percentchange(data[('Households Projected','2035','None')], data[('Households Projected','2025','None')])
data[('Households Projected % Change', 'None','2035-2045')] = percentchange(data[('Households Projected','2045','None')], data[('Households Projected','2035','None')])

data[('Households Projected Change', 'None','2017-2020')] = realchange(data[('Households Projected','2020','None')], data[('Households Projected','2017','None')])
data[('Households Projected Change', 'None','2020-2025')] = realchange(data[('Households Projected','2025','None')], data[('Households Projected','2020','None')])
data[('Households Projected Change', 'None','2020-2035')] = realchange(data[('Households Projected','2035','None')], data[('Households Projected','2020','None')])
data[('Households Projected Change', 'None','2020-2045')] = realchange(data[('Households Projected','2045','None')], data[('Households Projected','2020','None')])
data[('Households Projected Change', 'None','2025-2035')] = realchange(data[('Households Projected','2035','None')], data[('Households Projected','2025','None')])
data[('Households Projected Change', 'None','2035-2045')] = realchange(data[('Households Projected','2045','None')], data[('Households Projected','2035','None')])

In [11]:
data = data.stack([1, 1])
data = data.reset_index(drop = False)
data = data.rename(columns = {'level_2':'Year', 'level_3':'Time Frame'})
#data.tail()
hhstidy = data

In [12]:
#"Table format"
hhst = pd.read_csv('../../Data Downloads/projections_households.csv')
hhst = hhst.set_index(['NAME', 'GEO_ID'])
hhst = hhst.add_prefix('Projected Households ')

In [13]:
#populations
data = pd.read_csv('../../Data Downloads/projections_population.csv')
data = data.set_index(['NAME', 'GEO_ID'])
data.columns = pd.MultiIndex.from_product([['Population Projected'], data.columns, ['None']])
#data.head()

In [14]:
data[('Population Projected % Change', 'None','2017-2020')] = percentchange(data[('Population Projected','2020','None')], data[('Population Projected','2017','None')])
data[('Population Projected % Change', 'None','2020-2025')] = percentchange(data[('Population Projected','2025','None')], data[('Population Projected','2020','None')])
data[('Population Projected % Change', 'None','2020-2035')] = percentchange(data[('Population Projected','2035','None')], data[('Population Projected','2020','None')])
data[('Population Projected % Change', 'None','2020-2045')] = percentchange(data[('Population Projected','2045','None')], data[('Population Projected','2020','None')])
data[('Population Projected % Change', 'None','2025-2035')] = percentchange(data[('Population Projected','2035','None')], data[('Population Projected','2025','None')])
data[('Population Projected % Change', 'None','2035-2045')] = percentchange(data[('Population Projected','2045','None')], data[('Population Projected','2035','None')])

data[('Population Projected Change', 'None','2017-2020')] = realchange(data[('Population Projected','2020','None')], data[('Population Projected','2017','None')])
data[('Population Projected Change', 'None','2020-2025')] = realchange(data[('Population Projected','2025','None')], data[('Population Projected','2020','None')])
data[('Population Projected Change', 'None','2020-2035')] = realchange(data[('Population Projected','2035','None')], data[('Population Projected','2020','None')])
data[('Population Projected Change', 'None','2020-2045')] = realchange(data[('Population Projected','2045','None')], data[('Population Projected','2020','None')])
data[('Population Projected Change', 'None','2025-2035')] = realchange(data[('Population Projected','2035','None')], data[('Population Projected','2025','None')])
data[('Population Projected Change', 'None','2035-2045')] = realchange(data[('Population Projected','2045','None')], data[('Population Projected','2035','None')])

In [15]:
data = data.stack([1, 1])
data = data.reset_index(drop = False)
data = data.rename(columns = {'level_2':'Year', 'level_3':'Time Frame'})
#data.tail()
poptidy = data

In [16]:
#"Table format"
popt = pd.read_csv('../../Data Downloads/projections_population.csv')
popt = popt.set_index(['NAME', 'GEO_ID'])
popt = popt.add_prefix('Projected Population ')

In [17]:
#employment
data = pd.read_csv('../../Data Downloads/projections_employment.csv')
data = data.set_index(['NAME', 'GEO_ID'])
data.columns = pd.MultiIndex.from_product([['Employment Projected'], data.columns, ['None']])
data.head()

                                             Employment Projected
                                                             2017    2020    2025    2035    2045
                                                             None    None    None    None    None
NAME                        GEO_ID
Cheatham County, Tennessee  0500000US47021                  14999   15598   16641   18551   20304
Davidson County, Tennessee  0500000US47037                 638807  663935  708262  794173  864682
Dickson County, Tennessee   1600000US4720620                25580   26652   28417   31114   33019
Houston County, Tennessee   0500000US47083                   2606    2728    2954    3365    3719
Humphreys County, Tennessee 0500000US47085                   8813    9027    9419   10092   10660

In [18]:
data[('Employment Projected % Change', 'None','2017-2020')] = percentchange(data[('Employment Projected','2020','None')], data[('Employment Projected','2017','None')])
data[('Employment Projected % Change', 'None','2020-2025')] = percentchange(data[('Employment Projected','2025','None')], data[('Employment Projected','2020','None')])
data[('Employment Projected % Change', 'None','2020-2035')] = percentchange(data[('Employment Projected','2035','None')], data[('Employment Projected','2020','None')])
data[('Employment Projected % Change', 'None','2020-2045')] = percentchange(data[('Employment Projected','2045','None')], data[('Employment Projected','2020','None')])
data[('Employment Projected % Change', 'None','2025-2035')] = percentchange(data[('Employment Projected','2035','None')], data[('Employment Projected','2025','None')])
data[('Employment Projected % Change', 'None','2035-2045')] = percentchange(data[('Employment Projected','2045','None')], data[('Employment Projected','2035','None')])

data[('Employment Projected Change', 'None','2017-2020')] = realchange(data[('Employment Projected','2020','None')], data[('Employment Projected','2017','None')])
data[('Employment Projected Change', 'None','2020-2025')] = realchange(data[('Employment Projected','2025','None')], data[('Employment Projected','2020','None')])
data[('Employment Projected Change', 'None','2020-2035')] = realchange(data[('Employment Projected','2035','None')], data[('Employment Projected','2020','None')])
data[('Employment Projected Change', 'None','2020-2045')] = realchange(data[('Employment Projected','2045','None')], data[('Employment Projected','2020','None')])
data[('Employment Projected Change', 'None','2025-2035')] = realchange(data[('Employment Projected','2035','None')], data[('Employment Projected','2025','None')])
data[('Employment Projected Change', 'None','2035-2045')] = realchange(data[('Employment Projected','2045','None')], data[('Employment Projected','2035','None')])

In [19]:
data = data.stack([1, 1])
data = data.reset_index(drop = False)
data = data.rename(columns = {'level_2':'Year', 'level_3':'Time Frame'})
#data.tail()
emptidy = data

In [20]:
#"Table format"
empt = pd.read_csv('../../Data Downloads/projections_employment.csv')
empt = empt.set_index(['NAME', 'GEO_ID'])
empt = empt.add_prefix('Projected Employment ')
empt.head()

,,Projected Employment 2017,Projected Employment 2020,Projected Employment 2025,Projected Employment 2035,Projected Employment 2045
NAME,GEO_ID,,,,,
"Cheatham County, Tennessee",0500000US47021,14999,15598,16641,18551,20304
"Davidson County, Tennessee",0500000US47037,638807,663935,708262,794173,864682
"Dickson County, Tennessee",1600000US4720620,25580,26652,28417,31114,33019
"Houston County, Tennessee",0500000US47083,2606,2728,2954,3365,3719
"Humphreys County, Tennessee",0500000US47085,8813,9027,9419,10092,10660

# Join all

In [24]:
dfs = [historicaltidy, poptidy, emptidy, hhstidy]

In [25]:
datatidy = reduce(lambda  left,right: pd.merge(left,right,on=['NAME', 'GEO_ID', 'Year', 'Time Frame'],
                                           how='outer'), dfs)

In [26]:
datatidy.head()

,NAME,GEO_ID,Year,Time Frame,Population,Population % Change,Population Change,Population Projected,Population Projected % Change,Population Projected Change,Employment Projected,Employment Projected % Change,Employment Projected Change,Households Projected,Households Projected % Change,Households Projected Change
0,"Adams city, Tennessee",1600000US4700200,1800,None,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Adams city, Tennessee",1600000US4700200,1810,None,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Adams city, Tennessee",1600000US4700200,1820,None,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Adams city, Tennessee",1600000US4700200,1830,None,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Adams city, Tennessee",1600000US4700200,1840,None,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
datatidy.to_csv('../../Outputs/HIST_PROJECT_PopulationTIDY.csv', index = False)

In [28]:
dfs = [historicalt, popt, empt, hhst]
datat = reduce(lambda  left,right: pd.merge(left,right, on = ['NAME', 'GEO_ID'],
                                            how='outer'), dfs)

In [29]:
datat = datat.reset_index()

In [30]:
datat.head()

,NAME,GEO_ID,Population 1800,Population 1810,Population 1820,Population 1830,Population 1840,Population 1850,Population 1860,Population 1870,Population 1880,Population 1890,Population 1900,Population 1910,Population 1920,Population 1930,Population 1940,Population 1950,Population 1960,Population 1970,Population 1980,Population 1990,Population 2000,Population 2010,Population 2020,Projected Population 2017,Projected Population 2020,Projected Population 2025,Projected Population 2035,Projected Population 2045,Projected Employment 2017,Projected Employment 2020,Projected Employment 2025,Projected Employment 2035,Projected Employment 2045,Projected Households 2017,Projected Households 2020,Projected Households 2025,Projected Households 2035,Projected Households 2045
0,"Adams city, Tennessee",1600000US4700200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,542.0,672.0,0.0,0.0,0.0,0.0,458.0,600.0,587.0,566.0,633.0,624.0,728.0,756.0,801.0,876.0,995.0,243.0,268.0,313.0,428.0,589.0,228.0,237.0,249.0,274.0,309.0
1,"Ashland City town, Tennessee",1600000US4702180,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,641.0,649.0,712.0,957.0,1024.0,1400.0,2027.0,2329.0,2552.0,3641.0,4541.0,5193.0,4701.0,5356.0,6315.0,7850.0,9431.0,7858.0,8044.0,8395.0,9019.0,9538.0,2070.0,2346.0,2737.0,3428.0,4101.0
2,"Belle Meade city, Tennessee",1600000US4704620,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2061.0,2831.0,3082.0,0.0,3182.0,2839.0,2943.0,2912.0,2901.0,2615.0,2695.0,2790.0,2875.0,2959.0,1842.0,1867.0,1924.0,2006.0,2102.0,1021.0,1049.0,1081.0,1114.0,1146.0
3,"Berry Hill city, Tennessee",1600000US4705140,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1248.0,1551.0,0.0,1113.0,802.0,674.0,537.0,2112.0,886.0,1035.0,1280.0,1702.0,2242.0,8220.0,8929.0,10255.0,12487.0,14661.0,536.0,612.0,726.0,913.0,1171.0
4,"Brentwood city, Tennessee",1600000US4708280,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9431.0,16392.0,23445.0,37060.0,45373.0,39849.0,41428.0,43876.0,48343.0,52655.0,70273.0,73113.0,78736.0,90116.0,101904.0,13277.0,13804.0,14596.0,16051.0,17507.0

In [31]:
datat.to_csv('../../Outputs/HIST_PROJECT_PopulationSUFFIX.csv', index = False)